@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500;600&display=swap");
@import url('/public/css/root.css');
@media only screen and (min-width: 1200px) {
  :root {
    /*variables generales*/
    --primary-color: #6c788e; 
    --font-size-title: 5vw;
    --font-size-title2: 2vw;
    --font-size-subtitle: 1.5vw;
    --font-size-text: 1.2vw;
    --font-size-textchico: 1vw;
    --font-family-Benne: Benne;
    --font-family-tittle: "Big Shoulders Inline Display", cursive;
    --font-family-tittle2: "Teko", sans-serif;
    
  }
    /*------------------------------------------FOOTER------------------------------------------*/
    footer {
      background-color: var(--primary-color);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }
    .footerEncuentranos,
    .Ubicanos {
      margin-left: 2.5em;
      margin-top: 1em;
    }
    .footerEncuentranos h1,
    .Ubicanos h1 {
      font-size: var(--font-size-title2);
      color: var(--font-color-letter);
      font-weight: 400;
      line-height: 45px;
      margin-bottom: 5px;
    }
    .footerEncuentranos .RedesGeneral {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .footerEncuentranos .RedesGeneral .redes {
      display: inline-flex !important;
      flex-direction: row;
      align-items: center;
      font-size: var(--font-size-subtitle);
    }
    .footerEncuentranos .RedesGeneral .redes a{
      margin-right: 2em;
    }
    .Ubicanos iframe {
      width: 35vw;
      height: 14em; 
      margin-bottom: 1em;
    }
  
}
@media only screen and (max-width: 1199px) and (min-width: 220px) {
    /********************************NAV**************/
    :root {
      /*variables generales*/
    
      --font-size-title: 7vw;
      --font-size-title2: 3.5vw;
      --font-size-subtitle: 2.5vw;
      --font-size-text: 1.6vw;
      --font-size-textchico: 1.2vw;
      --font-family-Benne: Benne;
      --font-family-tittle: "Big Shoulders Inline Text", cursive;
      
    }
  /*------------------------------------------FOOTER------------------------------------------*/
  footer {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .footerEncuentranos,
  .Ubicanos {
    margin-left: 2.5em;
    margin-top: 1em;
  }
  .footerEncuentranos h1,
  .Ubicanos h1 {
    font-size: var(--font-size-subtitle2);
    color: var(--font-color-letter);
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 5px;
  }
  .footerEncuentranos .RedesGeneral {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  .footerEncuentranos .RedesGeneral .redes {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
  .Ubicanos iframe {
    width: 40vw;
    height: 14em; 
    margin-bottom: 1em;
  }
}
