@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500;600&display=swap");
@media only screen and (min-width: 1200px) {
  
  :root {
    /*variables generales*/
    --primary-color: #406c68;
    --primary-2option: #355956;
    --secondary-color: #88a3a0;
    --option: #70928e;
    --color-texto: #d4d5d9;
    --fondo: #8c9b92;
    --font-color-letter: #ffffff;
    --font-size-title: 5vw;
    --font-size-title2: 2vw;
    --font-size-subtitle2: 1.7vw;
    --font-size-subtitle: 1.3vw;
    --font-size-text: 1.1vw;
    --font-size-textchico: 0.8vw;
    --font-family-Benne: Benne;
    --font-family-tittle: "Big Shoulders Inline Display", cursive;
    --font-family-tittle2: "Teko", sans-serif;
    
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
    font-family: var(--font-family-Benne);
    background-color: var(--fondo) !important;
  }
  body {
    overflow: auto;
  }
  body::-webkit-scrollbar {
    width: 10px;
    -webkit-appearance: none;
  }
  body::-webkit-scrollbar:horizontal {
    width: 100%;
    overflow: hidden;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--primary-2option);
    border-radius: 20px;
  }

  body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 220px) {
  :root {
    /*variables generales*/
    --primary-color: #406c68;
    --primary-2option: #355956;
    --secondary-color: #88a3a0;
    --option: #70928e;
    --color-texto: #d4d5d9;
    --fondo: #8c9b92;
    --font-size-title: 7vw;
    --font-size-title2: 3.5vw;
    --font-size-subtitle: 2vw;
    --font-size-text: 1.6vw;
    --font-size-textchico: 1.2vw;
    --font-family-Benne: Benne;
    --font-family-tittle: "Big Shoulders Inline Display", cursive;
    --font-family-tittle2: "Teko", sans-serif;
    --font-color-letter: #ffffff;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
    font-family: var(--font-family-Benne);
    background-color: var(--fondo);
  }
  body {
    overflow: auto;
  }
  body::-webkit-scrollbar {
    width: 10px;
    -webkit-appearance: none;
  }
  body::-webkit-scrollbar:horizontal {
    width: 100%;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--primary-2option);
    border-radius: 20px;
  }

  body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
  main:checked ~ .ulnav {
    left: -100%;
  }
}
