@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500;600&display=swap");
@media only screen and (min-width: 1200px) {
  
  :root {
    /*variables generales*/       /* #6c788e */
    --primary-color: #6c788e;     /* #a6aec1 */
    --primary-2option: #a6aec1 ;   /* #cfd5e1 */
    --secondary-color: #ededf2;   /* #ededf2 */
    --option: #cfd5e1 ;            /* #fcfdff */
    --fondo: #fcfdff;
    --color-texto: #272343;
    --font-color-letter: #2e294b;
    --color-Titulo-Nav:#ffffff;
    --font-size-title: 5vw;
    --font-size-title2: 2vw;
    --font-size-subtitle2: 1.7vw;
    --font-size-subtitle: 1.3vw;
    --font-size-text: 1.1vw;
    --font-size-textchico: 0.8vw;
    --font-family-Benne: Benne;
    --font-family-tittle: "Big Shoulders Inline Display", cursive;
    --font-family-tittle2: "Teko", sans-serif;
    
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
    font-family: var(--font-family-Benne);
    background-color: var(--fondo) !important;
  }
  body {
    overflow: auto;
  }
  body::-webkit-scrollbar {
    width: 10px;
    -webkit-appearance: none;
  }
  body::-webkit-scrollbar:horizontal {
    width: 100%;
    overflow: hidden;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--primary-2option);
    border-radius: 20px;
  }

  body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 220px) {
  :root {
    /*variables generales*/
    --primary-color: #6c788e;     /* #a6aec1 */
    --primary-2option: #a6aec1 ;   /* #cfd5e1 */
    --secondary-color: #ededf2;   /* #ededf2 */
    --option: #cfd5e1 ;            /* #fcfdff */
    --fondo: #fcfdff;
    --color-texto: #272343;
    --font-color-letter: #2e294b;
    --color-Titulo-Nav:#ffffff;
    --font-size-title: 7vw;
    --font-size-title2: 3.5vw;
    --font-size-subtitle: 2vw;
    --font-size-text: 1.6vw;
    --font-size-textchico: 1.2vw;
    --font-family-Benne: Benne;
    --font-family-tittle: "Big Shoulders Inline Display", cursive;
    --font-family-tittle2: "Teko", sans-serif;
    
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
    font-family: var(--font-family-Benne);
    background-color: var(--fondo);
  }
  body {
    overflow: auto;
  }
  body::-webkit-scrollbar {
    width: 10px;
    -webkit-appearance: none;
  }
  body::-webkit-scrollbar:horizontal {
    width: 100%;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--primary-2option);
    border-radius: 20px;
  }

  body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
  main:checked ~ .ulnav {
    left: -100%;
  }
}
