@import url("/public/css/root.css") all;
@media only screen and (max-width: 1199px) and (min-width: 220px) {
  body {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    background-color: var(--fondo);
  }

  main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
    width: 100%;
    height: 32em;
  }
  .logoNayarit {
    height: 8.75rem;
    width: 8rem;
  }

  .nav-link {
    color: var(--font-color-letter) !important;
  }
  .navbar-brand {
    font-size: var(--font-size-subtitle);
    color: var(--font-color-letter) !important;
  }
  .nav-item .nav-link,
  .dropdown-menu {
    font-size: var(--font-size-text);
  }
  .navbar-toggler {
    margin-right: 2em !important;
  }
  /*------------------------------------------MAIN------------------------------------------*/
  /*---------------------------------SECTION TITLE -------------------*/
  .titulo {
    display: inline-flex;
    flex-direction: column;
  }
  .titulo h3 {
    font-family: "Kurale";
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-subtitle);
    line-height: 30px;
    letter-spacing: 0.02em;
  }
  .titulo .principal {
    margin-left: 3em;
    margin-top: 5em;
  }
  .titulo .continuacion {
    margin-left: 11em;
  }
  .titulo h1 {
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-title2);
    line-height: 45px;
    align-self: center;
    margin-top: 1.5em;
  }

  /*_________________________________Contenido Magistrados/*___________________________________*/
  .magistrados {
    display: grid;
    grid-template-columns: 1fr;

    gap: 20px;
    justify-items: center;
  }
  .magistrados .magistrado1,
  .magistrados .magistrado2,
  .magistrados .magistrado3 {
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr;
    width: 70%;
    align-items: center;
    justify-items: center;
  }
  .magistrados div .nombre {
    font-size: var(--font-size-subtitle);
    font-weight: 400;
    line-height: 20px;
  }
  .magistrados div .img1,
  .magistrados div .img2,
  .magistrados div .img3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ffffff;
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  .magistrados div .card .img1 {
    background-image: url(/public/assets/Tribunal/Magistrado_-removebg-preview.png);
  }
  .magistrados div .img2 {
    background-image: url(/public/assets/Tribunal/MAgistrada_Irina-removebg-preview.png);
  }
  .magistrados div .img3 {
    background-image: url(/public/assets/Tribunal/MAgistrada_MArtha-removebg-preview.png);
  }
  .magistrados div .icons {
    display: inline-flex;
    justify-content: space-evenly;
  }
  .magistrados div div .correo + .Curriculum,
  .magistrados div div .correo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
  }
  .magistrados div div .correo {
    background-image: url("/public/assets/gmail.png");
  }
  .magistrados div div .Curriculum {
    background-image: url("/public/assets/curriculum-vitae.png");
  }
  .magistrados div .textoMagistrado {
    font-size: var(--font-size-text);
    font-weight: 400;
    line-height: 20px;
  }
    line-height: 20px;

  .organigrama h3 {
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-title);
  }
  .icon_nayarit {
    background: url("/public/assets/escudo-nayarit-ok-mesa-de-trabajo-1-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 1152px;
    height: 1229px;
    left: -570px;
    top: 300px;
    z-index: -1;
    opacity: 0.8;
  }
    z-index: -1;
    opacity: 0.8;
  }
  /*TARJE
  .card {
    justify-self: center;
    height: 300px;
    width: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
  }
  .card img {
    height: 100%;
    width: 100%;
  }
  .card:hover .details {
    opacity: 1;
    height: 100%;
  }
  .details {
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    color: var(--font-color-letter);
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    opacity: 0;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details h4 {
    font-size: var(--font-size-subtitle);
  }
  .details p {
    font-size: var(--font-size-text);
    padding: 7px;
    text-align: center;
  }
  .social-icons {
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-between;
  }
}
